@import "vars";
@import "fonts";
@import "global";
@import "media";
@import "reset";
@import "libs";

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 70px;


  &__content-items {
    display: flex;
    justify-content: space-between;
    padding-top: 138px;
  }

  &__content-title {
    @extend %raleway-medium;
    font-size: 58px;
    line-height: normal;
    margin-bottom: 30px;
  }

  &__content-main {
    text-align: center;
    padding-top: 60px;
    margin: 0 48px;
  }

  &__content-btn {
    padding: 13px 27px;
    border-radius: 2px;
    border: 1px solid #b3bac1;
    font-size: 16px;
    line-height: 140%;
    @extend %mplus-medium;
    display: inline-block;
  }

  &__content-text {
    max-width: 274px;
    margin-bottom: 40px;
  }

  &__content-img {
    margin-bottom: 15px;
  }

  &__content-link {
    @extend %mplus-medium;
    font-size: 16px;
    line-height: 140%;
    position: relative;
    padding-right: 30px;

    & svg {
      position: absolute;
      stroke: $dark-blue;
      width: 26px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    display: flex;
    margin-right: 51px;
  }

  &__item {
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__usernav {
    display: flex;
    align-items: center;
  }

  &__usernav-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__usernav-btn {
    & svg {
      width: 18px;
      height: 21px;
      fill: $dark-blue;
      @extend %transition;
    }

    &:hover svg {
      opacity: 0.6;
    }
  }

  &__link--active {
   color: black;
  }
}

.benefits {
  

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 214px;
  }

  &__title {
    @extend %raleway-medium;
    font-size: 32px;
    margin-bottom: 30px;
    line-height: 130%;
  }

  &__text {
    font-size: 18px;
    line-height: 145%;
    margin-bottom: 40px;
  }

  &__items {
    display: flex;
    padding-bottom: 37px;
    position: relative;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    bottom: 0;
    right: 0;
    & svg {
      stroke: $dark-blue;
      width: 26px;
      height: 12px;
    }
  }

  .slick-next {
    transform: scale(-1);
    right: 57px;
  }

  .slick-slide {
    width: 230px !important;
    margin-right: 30px;
  }

  .slick-list {
    height: 312px;
    max-width: 748px;
  }

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0 52px 25px 52px;
    min-height: 312px;
    display: flex !important;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item-content {
    margin-top: auto;
  }

  &__item-title {
    font-size: 16px;
    @extend %raleway-medium;
    line-height: 145%;
    margin-bottom: 10px;
  }

  &__item-text {
    color: $gray;
    font-size: 13px;
    line-height: 145%;
  }

  &__item-link {
    text-decoration: underline;
    font-size: 13px;
    line-height: 145%;
  }
}

.promo {


  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 81px 0;
  }

  &__content {
    max-width: 284px;
    margin-left: auto;
    margin-right: 115px;
  }

  &__text {
    margin-bottom: 40px;
  }
}

.info {
  background-color: #f4f1ed;
 

  &__inner {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 670px 451px;
    padding: 23px 0;
  }

  &__content {
    max-width: 346px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 329px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-top: 25px;
  }
}

.advertisement {


  &__content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
  }

  &__text {
    font-size: 32px;
    @extend %raleway-medium;
    line-height: 125%;
    max-width: 761px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.join-block {
  

  &__inner {
    display: flex;
    align-items: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 71px;
  }

  &__content {
    max-width: 381px;
  }

  &__text {
    margin-bottom: 40px;
  }
}

.contacts {
  padding-bottom: 90px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-item {
    margin-bottom: 35px;
  }

  &__list-address {
    max-width: 256px;
  }

  &__list-subtitle {
    @extend %mplus-medium;
    margin-bottom: 10px;
    display: block;
  }
}

.catalog {
 padding-top: 100px;

  &__list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 50px;
  }
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 0;
  }

  &__btn {
    display: inline-block;

    &--active {
      background-color: $dark-blue;
      color: $white;
    }
  }

  &__filter {
    display: none;
    margin-bottom: 60px;
    @extend %transition;

    &--show {
      display: flex;
      justify-content: center;
    }
  }

  &__subtitle {
    @extend %mplus-medium;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__form:not(:last-child) {
    margin-right: 80px;
  }

  &__label {
    display: block;
    position: relative;
    color: $dark-blue;

    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  &__text {
    padding-left: 24px;
  }

  &__box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    left: 0;

    &:checked + .catalog-top__checkbox::after {
      opacity: 1;
    }
  }

  &__checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $dark-blue;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: block;
      opacity: 0;
      @extend %transition;
    }
  }
}

.addition {
  text-align: center;


  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: left;
  }
}

.product {
  transition: 0.3s all;
 


  &__inner {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 70px;
  }

  &__form {
    max-width: 370px;
    width: 100%;
  }

  &__form-title {
    margin-bottom: 0;
    & span {
      color: $gray;
      font-size: 16px;
      margin-bottom: 45px;
      display: block;
    }
  }

  &__form-info {
    max-width: 303px;
    display: block;
    margin-bottom: 45px;
  }

  &__form-text {
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    font-size: 14px;
  }

  &__form-subtitle {
    @extend %mplus-medium;
    font-size: 18px;
  }

  .transition,
  &__form-text,
  &__form-item &__form-checkbox:before,
  &__form-item &__form-checkbox:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn,
  &__form-item {
    animation: flipdown 0.5s ease both;
  }

  &__form-item {
    position: relative;
    padding-bottom: 20px;
    padding-top: 18px;
    border-top: 1px solid $gray;
  }

  &__form-item:nth-of-type(1) {
    animation-delay: 0.5s;
  }

  &__form-item:nth-of-type(2) {
    animation-delay: 0.75s;
    margin-bottom: 45px;
  }

  &__form-item:last-of-type {
    padding-bottom: 18px;
    border-bottom: 1px solid $gray;
  }

  &__form-checkbox {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }

  &__form-checkbox:before,
  &__form-checkbox:after {
    content: "";
    position: absolute;
    background-color: $dark-blue;
    width: 3px;
    height: 9px;
  }

  &__form-checkbox:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  &__form-checkbox:after {
    transform: translate(2px, 0) rotate(-45deg);
  }

  &__form-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__form-input:checked ~ &__form-text {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  &__form-input:checked ~ &__form-checkbox:before {
    transform: translate(2px, 0) rotate(45deg);
  }

  &__form-input:checked ~ &__form-checkbox:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

  &__form-inner {
    display: flex;
    margin-bottom: 45px;
  }

  &__form-word {
    margin-right: 15px;
  }

  &__form-label {
    position: relative;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__form-name {
    padding-left: 24px;
  }

  &__form-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__form-check {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    left: 0;

    &:checked + .product__form-checked::after {
      opacity: 1;
    }
  }

  &__form-checked {
    width: 15px;
    height: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $dark-blue;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: block;
      opacity: 0;
      @extend %transition;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__form-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-cost {
    font-size: 26px;
    @extend %mplus-medium;
  }
}

.footer {
  background-color: #f4f1ed;
  &__top {
    padding: 60px 0;
    border-bottom: 1px solid #d1d1d1;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-items {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__list-item {
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__logo {
    margin-right: 70px;
  }

  .footer-bottom {
    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 22px 0;
      color: #959595;
      font-size: 12px;
    }

    &__link {
      @extend %transition;
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
